<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2635296004.js" crossorigin="anonymous"></script>
    <title>Basic Banking System</title>
</head>
<body>

    <style>
        body {
            background-color: rgb(255, 206, 206);/*rgb(245, 165, 178)*/
        }
        #home:hover {
            cursor: pointer;
        }
        #home {
            margin: 0.8rem;
            color: white;
        }
        #back {
            margin-left: 0.5rem;
        }
        #back:hover {
            cursor: pointer;
        }
        #homediv {
            background-color:#1A73E8;
            background-size: 100%;
        }
        .container {
            text-align: center;
            align-self: center;
        }

        /* @media screen and (max-width: 500px) {
            #homediv {
                background-size: 100%;
                background-color:#1A73E8;
                margin: 0;
            }
            #home {
                margin: 0.8rem;
                color: white;
                font-size: 1rem;
            }
        } */
    </style>

    <div style="padding-left: 1.5rem; background-color: rgb(81, 112, 253);">
        <a href="/"><img src='https://www.freelogodesign.org/file/app/client/thumb/cec705db-ea19-4708-9a2c-33a43effac37_200x200.png?1610664081854' style="width: 8%; height: 5%;"></a>
    </div>

    <div id="homediv">
        <div id="icon">
            <i class="fa fa-home" aria-hidden="true" id="home" style="font-size: 2.5rem;" onclick="window.location.href='/'" title="Home"></i>
        </div>
    </div>

    <style>
        table {
            text-align: center;
            margin: auto;
            margin-top: 1rem;
            border: 2px solid black;
        }
        tr {
            border: 0.3px solid rgb(155, 151, 151);
        }
        td {
            padding: 1rem 5rem;
            border: 0.5px solid rgb(228, 228, 228);
        }
        th {
            padding: 1rem 5rem;
            border-bottom: 2px solid rgb(117, 113, 113);
            border-right:0.5px solid rgb(228, 228, 228) ;
        }
        table {
            margin-bottom: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        /* @media screen and (max-width: 500px) {
            table {
                text-align: center;
                margin: auto 0.5rem;
                margin-top: 1rem;
                border: 2px solid black;
            }
            tr {
                border: 0.3px solid rgb(155, 151, 151);
            }
            td {
                padding: 0.5rem 0.5rem;
                border: 0.5px solid rgb(228, 228, 228);
                font-size: 0.75rem;
            }
            th {
                padding: 0.5rem 0.5rem;
                border-bottom: 2px solid rgb(117, 113, 113);
                border-right:0.5px solid rgb(228, 228, 228) ;
                font-size: 0.75rem;
            }
            table {
                margin-bottom: 0.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
        } */
        
    </style>
