<%- include("partials/header") %>

<style>
    
    .fa-solid:hover {
        cursor: pointer;
        color: rgb(82, 82, 224);
    }

    .container {
        margin: 12rem auto !important;
    }
</style>

    <div class="container w-75 mx-auto my-5">
        <div class="row w-100 mx-auto my-4">
            <div class="col w-100 mx-auto my-3">
                <i class="fa-solid fa-users" style="font-size: 10rem;" onclick="window.location.href='/viewall'"></i>
            </div>
            <div class="col w-100 mx-auto my-3">
                <i class="fa-solid fa-clock-rotate-left" style="font-size: 10rem" onclick="window.location.href='/transfers'"></i>
            </div>
        </div>
</div>

<%- include("partials/footer") %>