<%- include("partials/header") %>

<style>
    .icons {
        margin: 5.1rem;
    }
    .icons:hover {
        cursor: pointer;
        opacity:0.65;
    }
    /* .iconlabels {
        margin: 6.3rem;
    } */
    @media screen and (max-width: 500px) {
        .icons {
            margin: 1.2rem;
        }
    }
</style>

<div class="container" style="align-self: center; text-align: center;">
    <div style="margin: 10rem auto 1.5rem auto;">
        <span class="icons">
            <i class="fa fa-users fa-10x"  aria-hidden="true" style="font-size: 4rem;" onclick="window.location.href='/viewall'" class="icon" title="View All Customers"></i>
        </span>
        <span class="icons">
            <i class="fa fa-exchange" aria-hidden="true" style="font-size: 4rem;" onclick="window.location.href='/transfers'" class="icon" title="View Transfer Records"></i>
        </span>
    </div>
</div>

<%- include("partials/footer") %>